<div style="
  width: 200px;
  height: 100px;
  background: #8b8b8b;
  padding: 0.5em;
">
  <input 
  style="
        padding: 0.5em;
    box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 1em;
    
  "
   placeholder="Answer"
   >

   <button style="
   align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
   ">
    Click me
   </button>
</div>